@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* When the `.dark` class is applied to the HTML element, swap the color variables */
html.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

@font-face {
  font-family: 'Fira Code';
  src: url('../../public/fonts/Fira_Code/static/FiraCode-Medium.ttf') format('ttf');
}

.font-fira-code {
  font-family: 'Fira Code', monospace;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.resume-button {
  background-color: var(--background);
  color: var(--foreground);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
}

.spacer-bottom {
  margin-bottom: 10rem;
}
